.*
docs/
internal_docs/
packages/ti/binary/
packages/ti/csl/
packages/ti/drv/cpsw/
packages/ti/drv/enet/
packages/ti/drv/csirx/
packages/ti/drv/csitx/
packages/ti/drv/pm/
packages/ti/drv/pmic/
packages/ti/drv/sa/
packages/ti/drv/sciclient/src/rm_pm_hal
packages/ti/*/lib
packages/ti/*/*/lib
packages/ti/*/*/*/lib
packages/ti/boot/sbl/example/boot_app/multicore_images/
packages/ti/boot/sbl/example/boot_app/binary/
packages/ti/kernel/freertos/FreeRTOS-LTS/
packages/ti/kernel/freertos/FreeRTOS-Labs/
*.d
*.o