.*
docs/
internal_docs/
packages/ti/binary/
packages/ti/csl/
packages/ti/drv/cpsw/
packages/ti/drv/enet/
packages/ti/drv/csirx/
packages/ti/drv/csitx/
packages/ti/drv/emac/firmware/icss_dualmac/src/version_file.h
packages/ti/drv/pm/
packages/ti/drv/pmic/
packages/ti/drv/sa/
packages/ti/drv/vhwa/
packages/ti/drv/sciclient/src/rm_pm_hal
packages/ti/*/lib
packages/ti/*/*/lib
packages/ti/*/*/*/lib
packages/ti/boot/sbl/tools/combined_appimage/bin/
packages/ti/diag/serdes_diag/
packages/ti/kernel/freertos/FreeRTOS-LTS/
packages/ti/kernel/freertos/FreeRTOS-Labs/
*.d
*.o